nav {
  border: 1px solid none;
}

nav a {
  color: black;
  text-decoration: none;
}

.photo {
  height: 400px;
  border: black 1px solid;
  background-image: url(pics/blankettt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 5%;
}

nav a:hover {
  color: #DF744A;
}

nav ul {
  padding: 0px;
  list-style-type: none;
  justify-content: space-around;
  display: flex;
  text-decoration: none;
}


.name {
  text-align: center;
  padding: 5%;     
  margin: 5px;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: white;
  color: black;
}

.second {
justify-content: space-around;
display: flex;
padding-top: 50px;
}

.professional img {
  width: 50%;
padding-left: 130px;    
}

.calendar {
    padding-top: 0%;
}
.calendar p {
    padding-top: 17%;
}

.second a {
    text-decoration: none;
}

.professional a {
    color: black;
}

.calendar a {
    color: black;
}

.hero {
    background-color: white;
    
}

/* Services */

.services {
    flex-direction: row;
    justify-content: space-around;  
    display: flex;
}
.clean {
     text-align: center;
}
.servicemain h1 {
    text-align: center;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;
}

.cleansink {
    padding: 5%;
}
.vacuum {
   padding: 5%;
}

.mop {
   padding: 5%;
}

.description {
    padding: 2%;
}
.description h2 {
    text-align: center;
}

.office h2 {
    text-align: center;
}

.office {
    padding: 2%;
}

.description a {
    text-decoration: none;
    font-weight: bolder;
    border: 2px #778899 solid;
    padding: 7px;
    background-color: #778899;
    color: white;
}

.description p {
    padding: 10px;
}

.office p {
    padding: 10px;
}

.office a {
    text-decoration: none;
    font-weight: bolder;
    border: 2px #778899 solid;
    padding: 7px;
    background-color: #778899;
    color: white;
}

/* Estimate */

table, th, td {
    border: 2px solid grey;
    border-collapse: collapse;
}

th, td {
    padding: 20px;
}

.table a {
    text-decoration: none;
}

.first h1 {
    text-align: center;
    padding-top: 30px;
}
.first p {
    padding-top: 10px;
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.pics {
    flex-direction: row;
    justify-content: space-around;  
    display: flex;
}

.tbbutton {
    text-decoration: none;
    font-weight: bolder;
    border: 2px #778899 solid;
    padding: 7px;
    background-color: #778899;
    color: white;
}

.easy h2 {
    text-align: center;
    padding: 2.5%;
}